.student {
}
.student .left-bottom {
    background: #ff6554;
    transition: background 0.5s ease;
}

.student .left-bottom, #student .left-bottom a {
    color: #ffffff;
    transition: color 0.5s ease;
}

.student .left-top {
    background: #ff8c80;
    transition: background 0.5s ease;
}

.student .row {
    background: #ff6969;
    transition: background 0.5s ease;
}

.student a {
    color: #ffffff;
    transition: color 0.5s ease;
}

.student body {
  color: #ffffff;
  background-color: #ffffff;
  transition: background-color 0.5s ease;
  font-family: Nunito, arial, sans-serif;
  transition: color 0.5s ease;
}

.student h1,
.student h2,
.student h3,
.student h4,
.student h5,
.student h6 {
  font-family: "Staatliches", Georgia, serif;
}

@media (min-width: 849px) {
    .student body {
        background-color: #ffffff;
        transition: background-color 0.5s ease;
    }
}

.student li.complete {
    text-decoration-color: #ffffff;
}

.student li::before {
  content: "\1F9E1";
  display: inline-block;
}