<!DOCTYPE html>

<html class="student">

{{ partial "head.html" . }}

<body>
    {{ partial "header.html" . }}
    {{ $baseurl := .Site.BaseURL }}
    <div class="container {{ .Params.emojiClass }}">
        <div class="row">
            <div class="col-1">
                <div id="todo-date" class="left-top">
                    <h1><img src="/assets/tinyhand.png" class="tinyhand" />{{ .Title }}</h1>
                </div>
                <div id="go-back" class="left-bottom">
                        <h2><a href="/">Go Back</a></h2>
                </div>
            </div>
            <div class="col-3 right-side">
                <article class="list-container" id="to-do-list">{{ .Content }}</article>
                {{ if not (eq .Params.studentCss "") }}
                <label class="switch" id="style-control">
                    <input class="switch-input" type="checkbox" id="switch-checkbox" checked />
                    <span class="switch-label" data-on="On" data-off="Off"></span> 
                    <span class="switch-handle"></span> 
                </label>
                {{ end }}
            </div>
        </div>
    </div>
</body>


</html>